absl-py==1.4.0
appdirs==1.4.4
asn1crypto==1.5.1
atomicwrites==1.4.0
cloudpickle==2.2.1
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_cytoscape==1.0.2
furl==2.1.3
GitPython==3.1.44
importlib_resources==6.5.2
Jinja2==3.1.6
jsonpointer==2.1
kaleido==0.2.1
matplotlib==3.9.2
openlineage-python==1.29.0
orderedmultidict==1.0.1
pandas==2.2.3
pdfkit==1.0.0
pluggy==1.5.0
protobuf==4.25.3
py4j==0.10.9.7
pyasn1-modules==0.2.8
pydantic==2.10.6
pydantic_core==2.27.2
pyls-spyder==0.4.0
PyMuPDF==1.25.5
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyspark==3.5.4
python-decouple==3.8
python-docx==1.1.2
pytimeparse==1.1.8
PyYAML==6.0.2
reportlab==4.3.1
requirements-parser==0.11.0
retrying==1.3.4
rich==13.9.4
setuptools==75.8.0
shellingham==1.5.4
snowflake-cli==3.5.0
snowflake-cli-labs==3.5.0
snowflake-connector-python==3.14.0
snowflake-ml-python==1.7.5
snowflake-snowpark-python==1.29.1
snowflake-sqlalchemy==1.7.2
snowflake_ingest==1.0.10
sqlparse==0.5.3
streamlit==1.45.0
streamlit-aggrid==1.1.4.post1
streamlit-slickgrid==0.2.0
tomlkit==0.13.2
typer==0.15.1
types-setuptools==75.8.0.20250110
typing_extensions==4.12.2
tzlocal==5.3
wheel==0.44.0
xgboost==2.1.4
XlsxWriter==3.2.3
